In [1]:
import pandas as pd

In [2]:
# Q9a) Calculate Skewness, Kurtosis & draw inferences on the following data: Cars speed & distance

In [3]:
Q9a=pd.read_csv('Q9_a.csv')

In [4]:
Q9a.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [5]:
Q9a.describe()

          Index      speed        dist
count  50.00000  50.000000   50.000000
mean   25.50000  15.400000   42.980000
std    14.57738   5.287644   25.769377
min     1.00000   4.000000    2.000000
25%    13.25000  12.000000   26.000000
50%    25.50000  15.000000   36.000000
75%    37.75000  19.000000   56.000000
max    50.00000  25.000000  120.000000

In [8]:
# Skewness
Q9a[['speed','dist']].skew()

speed   -0.117510
dist     0.806895
dtype: float64

In [9]:
# Kurtosis
Q9a[['speed','dist']].kurtosis()

speed   -0.508994
dist     0.405053
dtype: float64